/* Ant Design CSS */
@import 'antd/dist/antd.min.css';

/* Import Font Family */
/* Lato */
@import '@fontsource/lato/100.css';
@import '@fontsource/lato/300.css';
@import '@fontsource/lato/400.css';
@import '@fontsource/lato/700.css';
@import '@fontsource/lato/900.css';
/* Luckiest Guy */
@import '@fontsource/luckiest-guy';

/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
	font-size: 62.5%;
} */

body {
	margin: 0;
	font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
